.dos_columnas {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.bloque{
    display: inline-block;  /* Es esencial para que se muestren los bloques en línea */
    height:300px;
    width: 300px;
    border:1px solid #333;
    background: #999;
    margin:20px;
}